<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/home.css">
    <title>MacoWins</title>
</head>
<body>
    <!-- Este es mi comentario-->
    <h1>MacoWins</h1>
    <section class="welcome">
        <p>Te damos la bienvenida a MacoWins</p>
        <p>Hola, soy otro p</p>
        <img src="https://img.freepik.com/free-vector/creative-welcome-team-banner-corporate-hiring_1017-43282.jpg" alt="holaaaaa">
    </section>
    <section class="about">
        <p>Lorem impsum bla bla</p>
        <ul>
            <li>Pantalones</li>
            <li>Remeras</li>
        </ul>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/xoYkGH95_d4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </section>
    <footer>
        <p>MacoWins contact: contacto@macowins.com</p>
    </footer>
</body>
</html>