<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/home.css">
    <title>Document</title>
</head>
<body>
    <section class="titulo"> 
       <h1> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQkyQhCVBELuxuw1lQJcSAfJ21WGI8HRUo-bw&usqp=CAU" alt="titulo" width="70px" height="70px"> CONTEXTO </h1>
    </section>
    <section class="yellow-section">
        <p>Escribi aca la caracterizacion de tu set de datos</p>
        


    <div class="img-div">
        <img src="https://img-aws.ehowcdn.com/600x375/cdn-write.demandstudios.com/upload//7000/800/00/0/217800.jpg">

    </div>
    </section>

    <section class="green-section">
        <p>Autoria anonima</p>
    </section>
    
</body>
</html>